@tailwind base;
@tailwind components;
@tailwind utilities;

 body {
            font-family : Urbanist, sans-serif;
            @apply bg-white dark:bg-gray-900
        }

        .navbar-active .hamburger div:first-child {
            @apply rotate-45 translate-y-1.5;
        }
        .navbar-active .hamburger div:last-child {
            @apply -rotate-45 -translate-y-1;
        }
        .navbar-active div:first-child div:first-child div:last-child{
            @apply block lg:flex
        }

.grayScaleImg {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.grayScaleImg:hover {
  filter: grayscale(0%);
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.swiper-pagination-bullet{
    @apply !bg-gray-200 dark:!bg-gray-700 !opacity-100;
}

.swiper-pagination-bullet-active{
    @apply !bg-gray-950 dark:!bg-white;
}

@keyframes loop {
    to {
        offset-distance: 100%;
    }
}